@model DataManager.Model.CategoryType

@{
    ViewBag.Title = "CreateCategoryType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateCategoryType</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>CategoryType</legend>
        <p>
            Title:<br />
            @Html.EditorFor(model => model.Title)
        </p>
        <p>
            Description:<br />
            @Html.EditorFor(model => model.Description)
        </p>

        <input type="submit" value="Save" />
        <br /><br />
        @Html.ActionLink(" < BACK TO CATEGORYTYPES LIST ", "CategoryTypesList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}
