@model DataManager.Model.Purchase

@{
    ViewBag.Title = "EditPurchase";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Purchase</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Purchase</legend>
        <p>
            Good:<br />
            @Html.DropDownListFor(model => model.GoodId, ViewBag.Goods as SelectList)
        </p>
        <p>
            Amount:<br />
            @Html.EditorFor(model => model.Amount)
        </p>
        <p>
            Purchase Price Per Item:<br />
            @Html.EditorFor(model => model.PurchasePricePerItem)
        </p>
        <input type="submit" value="Confirm changes" />
        <br /> <br />
        @Html.ActionLink(" < BACK TO PURCHASE LIST ", "PurchasesList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}
