@model DataManager.Model.Sale

@{
    ViewBag.Title = "CreateSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateSale</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Sale</legend>
        <p>
            Good:<br />
            @Html.DropDownList("GoodId", ViewBag.Goods as SelectList)
        </p>
        <p>
            Amount:<br />
            @Html.EditorFor(model => model.Amount)
        </p>
        <p>
            Purchase Price Per Item:<br />
            @Html.EditorFor(model => model.SalePricePerItem)
        </p>
        <input type="submit" value="Create Sale" />
        <br /> <br />
        @Html.ActionLink(" < BACK TO SALES LIST ", "SalesList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}
