@model DataManager.Model.Category

@{
    ViewBag.Title = "DeleteCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DeleteCategory</h2>
<dl>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
    <br /><br />
    @Html.ActionLink(" < BACK TO CATEGORIES LIST ", "CategoriesList", "Admin", new { @class = "inTableLink" })
}