@model IEnumerable<string>

<div class="menu">
        @foreach (string item in ViewBag.Items)
        {
            <div class="adminmenuitem">
            @Html.RouteLink(item, 
                new
                    {
                        controller = "Admin",
                        action = item + "List"
                    },
                new { @class = item == ViewBag.SelectedSection ? "selected" : null })
             </div>
        }
</div>
