body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.menu {

    padding:10px;
    font-size:16px;
    width:100%;
    margin:auto;
}
    .menu table {
        margin:auto;
    }
.menuitem {
    text-align:center;
    border:3px solid black;
    padding:2px;
    margin:auto;
    width:auto;
    font-weight:bold;
    color:black;
}

.menuitem:hover {
    background-color:aquamarine ;
}

.menuitem.selected{ background-color: #666; color: White; }


.menuitem A.selected { background-color: #666; }


.inTableLink {
    font-size:larger;
    border:1px solid black;
     
    padding-left:2px;
    padding-right:2px;
    font-style:italic;
}

.editor-field { margin-bottom: .8em; }
.editor-label { font-weight: bold; }
.editor-label:after { content: ":" }
.text-box { width: 25em; }
.multi-line { height: 5em; font-family: Segoe UI, Verdana; }
/*
div.inTableLink a {text-decoration:none;color:black;}
div.inTableLink a:after {text-decoration:none;color:black;}
div.inTableLink a:active {text-decoration:none;color:black;}
div.inTableLink a:hover{text-decoration:none;color:black;}
div.inTableLink a:before {text-decoration:none;color:black;}
div.inTableLink a:checked {text-decoration:none;color:black;}
  */  
a {text-decoration:none;color:black;}
a:after {text-decoration:none;color:black;}
a:active {text-decoration:none;color:black;}
a:hover{text-decoration:none;color:black;}
a:before {text-decoration:none;color:black;}
a:checked {text-decoration:none;color:black;}

.content table TD { font-family: Segoe UI, Verdana }
.content TABLE TD, TABLE TH {padding-bottom:3px;margin:5px; border-bottom: 1px dotted gray; border-left:1px dotted gray;  text-align:left; }
.content  TABLE {  width:100%; }

 div.pager A{font-size: 1.1em;color: #666;text-decoration: none;padding: 0 .4em 0 .4em;}
    div.pager A:hover{background-color: Silver;}
    div.pager A.selected{background-color: #353535;color: White;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
