body {
    width:960px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:auto;
}

header, footer, nav, section {display: block;}

.adminmenuitem {
    float:left;
    font-size:16px;
    text-align:center;
    border-radius:8px;
    background: lightskyblue;
    font-weight:bold;
    color:black;
    border-radius:8px;
    padding:0px 5px 3px 5px;
    width:150px;
}
.adminmenuitem:hover a{color:white;}
.adminmenuitem A.selected { color:white; }

.menuitem {
    float:left;
    font-size:16px;
    text-align:center;
    border-radius:8px;
    background: #ddd;
    font-weight:bold;
    color:black;
    border-radius:8px;
    padding:0px 5px 3px 5px;
    width:150px;
}
.menuitem:hover a{color:white;}
.menuitem A.selected { color:white; }

.menuiteminTable{
    float:left;
    font-size:12px;
    text-align:center;
    border-radius:8px;
    background: #ddd;
    font-weight:bold;
    color:black;
    border-radius:8px;
    padding:0px 5px 3px 5px;
    width:auto;
}
.menuiteminTable:hover a{color:white;}
.menuiteminTable A.selected { color:white; }

.inTableLink {
    font-size:larger;
    border-radius:8px;
    background: #ddd;
    padding:0px 10px 3px 10px;
    font-style:italic;
    margin:0px 0px 0px 10px;
}
    #addimagebutton {
        width:100px;
        border:2px solid black;
        text-align:center;
        float:right;
    }

fieldset {
    border-radius:8px;
}
#addimage {width:200px;}
.savebuttonarea {
    padding: 5px;
    text-align:right;
}
#savebutton {
    height:50px;
    width:200px;
}
#backlink {text-align:right;}
#deletebutton{width:100%;}

.inTableLink:hover {color:white;}


.editor-field { margin-bottom: .8em; }
.editor-label { font-weight: bold; }
.editor-label:after { content: ":" }
.text-box { width:100%; }
.multi-line { height: 5em; font-family: Segoe UI, Verdana; }
/*
div.inTableLink a {text-decoration:none;color:black;}
div.inTableLink a:after {text-decoration:none;color:black;}
div.inTableLink a:active {text-decoration:none;color:black;}
div.inTableLink a:hover{text-decoration:none;color:black;}
div.inTableLink a:before {text-decoration:none;color:black;}
div.inTableLink a:checked {text-decoration:none;color:black;}
  */  
a {text-decoration:none;color:black;}
a:after {text-decoration:none;color:black;}
a:active {text-decoration:none;color:black;}
a:hover{text-decoration:none;color:black;}
a:before {text-decoration:none;color:black;}
a:checked {text-decoration:none;color:black;}

.content table TD { font-family: Segoe UI, Verdana }
.content table th, td {
    border-left: 1px solid #ddd; 
    border-bottom:1px solid #ddd; 
    }
.content  TABLE {  width:100%; }

 div.pager A{font-size: 1.1em;color: #666;text-decoration: none;padding: 0 .4em 0 .4em;}
    div.pager A:hover{background-color: Silver;}
    div.pager A.selected{background-color: #353535;color: White;}


#dialogContent {
    width:500px;
    background-color:lightskyblue;
}
.dialog {
    width:auto;
    background-color:lightcoral;
}

#images td {
    width:100%;
    border:none;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.multi-line {
    max-width:667px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {color: #f00;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid #f00;background-color: #fee;}
.validation-summary-errors {font-weight: bold;color: #f00;}
.validation-summary-valid {display: none;}
