@model DataManager.Model.Sale

@{
    ViewBag.Title = "DeleteSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DeleteSale</h2>
<dl>
    <dd>
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dd>
        @Html.DisplayFor(model => model.Good.Title)
    </dd>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
    <br /><br />
    @Html.ActionLink(" < BACK TO SALES LIST ", "SalesList", "Admin", new { @class = "inTableLink" })
}
