@model DataManager.Model.Purchase

@{
    ViewBag.Title = "DeletePurchase";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete Purchase</h2>
<dl>
    <dd>
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dd>
        @Html.DisplayFor(model => model.Good.Title)
    </dd>
</dl>
@using (Html.BeginForm())
{
     <input type="submit" value="Delete Purchase" /><br/>
   @Html.ActionLink(" < BACK TO PURCHASE LIST ", "PurchasesList", "Admin", new { @class = "inTableLink" })
}