@model DataManager.Model.Good

@{
    ViewBag.Title = "Edit Good";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Good</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Good</legend>
        <p>
            Title:<br />
            @Html.EditorFor(model => model.Title)
        </p>
        <p>
            Dscription:<br />
            @Html.EditorFor(model => model.Description)
        </p>

        <input type="submit" value="Confirm changes" />
        <br />
        @Html.ActionLink(" < BACK TO GOODS LIST ", "GoodsList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}
