@model DataManager.Model.Good

@using (Html.BeginForm())
{
    <p>
        <div class="editor-label">Title</div>
        @Html.DisplayFor(model => model.Title)
    </p>
    <p>
        <div class="editor-label">Description</div>
        @Html.DisplayFor(model => model.Description)
    </p>
    <div class="savebuttonarea">
        <input type="submit" value="Delete" id="deletebutton" />
    </div>
}

